

<header>
        <nav>
            <div>
              <%= link_to "Flight Booker", root_path, class: "nav-header"%>
            </div>
          
        </nav>
</header>



<%#
    Search Form
%>


